$color-background: #f8f8f8;
$veil-background: rgba(255, 253, 253, 0.641);
$white: #ffffff;
$btn-background: #ff3e79;
$btn-background-hover: #ff004c;
$btn-background-active: #f4bccd;
$logo-background: rgba(0, 0, 0, 0);
$light-aqua: #41f6d7;
$grey: #7e7e82;
$border: #d9fff5;
$black: black;
$dropdown-shadow: 1px 0px 70px rgba(0, 0, 0, 0.3);
$modal-shadow: -8px 7px 8px 0px rgba(34, 60, 80, 0.2);
$light-grey: #b5b6bc;
$swiper-border: #eaeaea;
